ion-toolbar
{
    --background : #333A44;
    --color : white;
}
.Dangerbutton
{
    position: fixed;
    bottom: 0px;
    left: 10px;
    width:40%;
}
.ScuessButton
{
    position: fixed;
    bottom: 0px;
    right:10px;
    width:40%;
}