
ion-toolbar
{
  --background : #2B323F;
}
ion-title
{
  --color : white;
}

ion-fab-button
{
  --background : rgb(184, 161, 144); ;
}

.ion-card 
{
 // background-color: red;
  --background : #D5BBA9;
}